Source: securityonion-nsmnow-admin-scripts
Section: net
Priority: extra
Maintainer: Doug Burks <doug.burks@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.securixlive.com/nsmnow/index.php
#Vcs-Git: git://git.debian.org/collab-maint/securityonion-nsmnow-admin-scripts.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/securityonion-nsmnow-admin-scripts.git;a=summary

Package: securityonion-nsmnow-admin-scripts
Architecture: all
Depends: ${misc:Depends}
Description: This package installs the NSMnow Administration Scripts.
 These scripts manage the NSM processes.
