[Unit]
Description=Security Onion Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/so-boot
Restart=on-abort
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
